{% extends "@App/layout.html.twig" %}

{% block body %}

    <div class="container" style="margin-top: 50px;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Anime</th>
                <th scope="col">Nom Personnage</th>
                <th scope="col">Type Personnage</th>
                <th scope="col">Modifier</th>
                <th scope="col">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            {% for personnage in personnages %}
                <tr>
                    <td>{{ personnage.animes.titre }}</td>
                    <td>{{ personnage.nomPersonnage }}</td>
                    <td>{{ personnage.typePersonnage }}</td>
                    <td><a href="{{ path('formulaire_personnage_update',{id: personnage.id}) }}">Modifier</a></td>
                    <td><a href="{{ path('delete_personnage',{id: personnage.id}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ path('formulaire_personnage') }}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Ajouter</a>

    </div>
{% endblock %}